@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #BFEFFF;
  width: 100%;
  border: 0;
  padding: 10px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.container button:hover,.container button:active,.container button:focus {
  background: #9AC0CD;
}
.container .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.container .message a {
  color: blue;
  text-decoration: none;
}
.container .register-form {
  display: none;
}

.duplicate{
	position: relative;	
}

.duplicate button{
	position: absolute;
	left : 280px;
	top: 5px;
	color: gray;
	width : 20%;
}

body {
  background: white; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, white, white);
  background: -moz-linear-gradient(right, white, white);
  background: -o-linear-gradient(right, white, white);
  background: linear-gradient(to left, white, white);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}